body {
  height: 100%;
  width: 100%;
  background-image: url('./assets/bg2.jpg') ;
  background-size: 100% 100%;
  height: 100%;
  width: 100vw; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#game {
  z-index: 1;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

#enter {
  position: absolute;
  height: 75px;
  color: white;
  font-size: 2.5em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  /* font-family: '8BITWONDERNominal'; */
  justify-content: center;
  z-index: 3;
}

#enter2 {
  position: absolute;
  height: 75px;

  color: white;

  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  /* font-family: '8BITWONDERNominal'; */
  justify-content: center;
  z-index: 3;
  display: none;
  align-items: center;

}

#retreat {
  width:300px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 5px;
}

#again {
  font-size: 1.2em;
  width:300px;
  text-align: center;
}

.numtitle {
  padding-bottom: 50px; 
  padding-top: 30px;
  float: inline-start;
}

.bg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}

.left {
  /* margin-top: 300px; */
  width: 375px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

}

.left-cont {
  margin-top: 125px;
  background-color: rgb(107, 59, 24);
  border: 5px solid rgb(107, 59, 24);
  border-radius: 5px;
  height: 260px;
}

.left-cont2 {
  margin-top: 20px;
  background-color: rgb(107, 59, 24);
  border: 5px solid rgb(107, 59, 24);
  border-radius: 5px;
  height: 175px;
}

.how-to {
  /* font-family: '8BITWONDERNominal'; */
  font-size: 1.5em;
  padding-bottom: 15px;
  color: rgb(229, 208, 18);
  padding-left: 10px;
  padding-top: 10px;;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.instructions {
  /* font-family: '8BITWONDERNominal'; */
  font-size: .95em;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  line-height: normal;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100vh;
}

.right {
  width: 375px;
  height: 100vh;
  justify-content: start;
  display: flex;
  flex-direction: column;
}

.right-cont {
  background-color: rgb(107, 59, 24);
  border: 5px solid rgb(107, 59, 24);

  border-radius: 5px;
  width: 250px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 125px;
}

.score {
  /* font-family: '8BITWONDERNominal'; */
  color: rgb(229, 208, 18);
  font-size: 1.5em;
  width: 230px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  justify-content: space-between;
}

.time {
  /* font-family: '8BITWONDERNominal'; */
  color: rgb(229, 208, 18);
  font-size: 1.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  width: 230px;
  justify-content: space-between;
}

#score-num {
  color: white;
  /* font-family: '8BITWONDERNominal'; */
}

#time-num {
  color: white;
  /* font-family: '8BITWONDERNominal'; */
}

#music-buttons {
  padding-top: 15px;
}

.fas {
  padding-right: 10px;
  font-size: 2.3em;
  color: white;
}

.fab {
  padding-right: 10px;
  font-size: 2.3em;
  color: white;
}

.fas:hover {
  cursor: pointer;
}

.fab:hover {
  cursor: pointer;
}



.right-hiscore {
  margin-top: 20px;
  height: 40px;
  background-color: rgb(107, 59, 24);
  border: 5px solid rgb(107, 59, 24);
  width: 250px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.hiscore-cont {
  padding-top: 8px;
  color: rgb(229, 208, 18);
  font-size: 1.5em;
  width: 230px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: flex;
  justify-content: space-between;
}

#hiscore-num {
  color: white;
}

.links {
  background-color: rgb(107, 59, 24);
  border: 5px solid rgb(107, 59, 24);
  width: 260px;
  height: 60px;
  margin-top: 30px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about2 {
  font-size: 1.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white
}

.question-icon:hover .about-cont {
  display: block
}

.about-cont {
  display: none;
  position: absolute;
  background-color: rgb(194, 169, 136);
  width: 300px;
  height: 175px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  color: black;
  border-radius: 10px;
}

.about-header {
  color: rgb(229, 208, 18);
  font-size: 1.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-bottom: 5px;
}





